body {
    font-family: sans-serif;
    font-size: 14px;
}

.even {
    background-color: #C3D9D7;
}

table,
th,
td {
    border: 1px solid #83AFB4;
    border-collapse: collapse;
}

th,
td {
    padding: 8px;
}

th {
    background-color: #173F35;
    color: white;
}

h2 {
    color: #A33F1F;
}
